@charset "utf-8";
* {
  margin: 0; padding: 0;
  vertical-align: baseline;
  border-collapse: collapse;
  border-spacing: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
/* 전체적용 */
div {
  border-radius: 10px;
}
div.check button{
  width: 68px;
  height: 68px;
  border: 1px solid #999;
  border-radius: 10px;
}
div#contentsWrap {
  width: 1000px;
  position: relative;
  margin: 0 auto;
  background-color: #999;
}
/* top */
div#top > div {
  display: inline-block;
}
div#diceStage > div {
  width: 100px;
  height: 100px;
  margin: 10px 0;
  background-color: #fff;
  border: 5px solid #333 ;
}
div.itl {
  margin-left: 10px;
}
div.itr {
  width: 860px;
  margin-right: 10px;
  position: absolute;
  right: 0;
}
div.itr > div {
  margin: 10px 0;
}
div.itr div {
  width: 100%;
  height: 100px;
  background-color: #fff;
  border: 5px solid #333;
}
div#round {
  background: none;
  border: none;
}
div#round div {
  width: 100px;
  height: 100px;
  display: inline-block;
}
div#round div:nth-child(2n){
  margin: 0 48px;
}
div#round div:last-child {
  margin: 0;
  margin-left: 48px;
}



/* mid */
div#mid {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}
div#mid > div {
  width: 480px;
  height: 480px;
  display: inline-block;
}
/* //yellow */
div#yellow {
  background-color: #FDFFCC;
  border: 5px solid #DBEF4B;
  margin-left: 10px;
}
div#yellowContents {
  width: 440px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
div#yellowContents > div {
  display: inline-block;
}
div#yellow button:nth-child(n+2) {
  margin-left: 20px;
  margin-top: 20px;
}
div#yellow div.chance {
  width: 68px;
  height: 100%;
  position: absolute;
  right: 0;
}
div#yellow div.score {
  position: absolute;
  left: 0;
  bottom: 20px;

}
div#yellow div.score button {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  border: 1px solid #999;
}
/* //blue */
div#blue {
  background-color: #97B5FF;
  border: 5px solid #2652BF;
  margin-right: 10px;
  position: absolute;
  right: 0;
}

/* bot */
div#bot {
  width: 100%;
  height: 480px;
}
div#bot > div {
  width: 980px;
  height: 150px;
  margin: 0 auto 10px;
}
div#green {
  background-color: #A9FFA4;
  border: 5px solid #09B200;
}
div#orange {
  background-color: #FFC064;
  border: 5px solid #D88000;
}
div#purple {
  background-color: #C780FF;
  border: 5px solid #7100C9;
}
