@charset "utf-8";
* {
  margin: 0; padding: 0;
  vertical-align: baseline;
  border-collapse: collapse;
  border-spacing: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
/* 전체적용 */
div {
  border-radius: 10px;
}
div.check button{
  width: 68px;
  height: 68px;
  border: 1px solid #999;
  border-radius: 10px;
}
div#contentsWrap {
  width: 1000px;
  position: relative;
  margin: 0 auto;
  background-color: #999;
}
/* top */
div#top > div {
  display: inline-block;
}
div#diceStage > div {
  width: 100px;
  height: 100px;
  margin: 10px 0;
  background-color: #fff;
  border: 5px solid #333 ;
}
div.itl {
  margin-left: 10px;
}
div.itr {
  width: 860px;
  margin-right: 10px;
  position: absolute;
  right: 0;
}
div.itr > div {
  margin: 10px 0;
}
div.itr div {
  width: 100%;
  height: 100px;
  background-color: #fff;
  border: 5px solid #333;
}
div#round {
  background: none;
  border: none;
}
div#round div {
  width: 100px;
  height: 100px;
  display: inline-block;
}
div#round button {
  width: 50px;
  height: 50px;
  display: block;
  margin: 0 auto;
}
div#round p {
  width: 35px;
  height: 35px;
  margin: 0 auto;
  margin-top: 3px;
  text-align: center;
  line-height: 35px;
  background-color: #333;
  border: 2px solid #fff;
  color: #fff;
}
div#round div:nth-child(2n){
  margin: 0 48px;
}
div#round div:last-child {
  margin: 0;
  margin-left: 48px;
}
div#round div#round4 {
  width: fit-content;
  height: 35px;
  margin: 0 auto;
  vertical-align: middle;
  background: none;
  border: none;
}
div#round4 p {
  display: inline-block;
}
div#chance {
  width: 100%;
  height: auto;
  background: none;
  border: none;
}
div#chance div {
  padding: 10px 20px;
}
div#chance p {
  width: 70px;
  height: 70px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  line-height: 68px ;
  border: 3px solid #333;
}
div#chance button {
  display: inline-block;
  vertical-align: middle;
  width: 70px;
  height: 70px;
  margin-left: 30px;
  border-radius: 50%;
  border: 3px solid #333;
}
div#onemore {
  margin-top: 10px;
}



/* mid */
div#mid {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}
div#mid > div {
  width: 480px;
  height: 480px;
  display: inline-block;
}
/* //yellow */
div#yellow {
  background-color: #FDFFCC;
  border: 5px solid #DBEF4B;
  margin-left: 10px;
}
div#yellowContents {
  width: 440px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
div#yellowContents > div {
  display: inline-block;
}
div#yellow button:nth-child(n+2) {
  margin-left: 20px;
  margin-top: 20px;
}
div#yellow div.chance {
  width: 68px;
  height: 100%;
  position: absolute;
  right: 0;
}
div#yellow div.chance p {
  width: 68px;
  height: 68px;
  margin-top: 20px;
  line-height: 68px;
  text-align: center;
}
div#yellow div.chance p:last-child {
  position: absolute;
  bottom: 20px;
  right: 0;
}
div#yellow div.score {
  position: absolute;
  left: 0;
  bottom: 20px;
}
div#yellow div.score p {
  display: inline-block;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  background-color: #DBEF4B;
  text-align: center;
  line-height: 68px;
}
div#yellow div.score p:nth-child(n+2) {
  margin-left: 20px;
}
/* //blue */
div#blue {
  background-color: #97B5FF;
  border: 5px solid #2652BF;
  margin-right: 10px;
  padding: 0 15px;
  position: absolute;
  right: 0;
}
div#blueContents {
  width: 440px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
div#blue div.score {
  width: 100%;
  margin-top: 20px;
}
div#blue ul {
  display: table;
  width: 100%;
  height: 60px;
  border-bottom: 2px solid #fff;
}
div#blue li {
  display: table-cell;
  min-width: 36px;
  text-align: center;
}
div#blue li button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  background-color: #2652BF;
  color: #fff;
}
div#blue > div {
  display: inline-block;
}
div#blue div.check {
  display: inline-block;
}
div#blue div.check button:nth-child(n+2) {
  margin-left: 20px;
  margin-top: 20px;
}
div#blue div.check p {
  display: inline-block;
  width: 68px;
  height: 68px;
  text-align: center;
  vertical-align: bottom;
}
div#blue div.chance1 p {
  display: inline-block;
  width: 68px;
  height: 68px;
  line-height: 68px;
  text-align: center;
}
div#blue div.chance1 p:nth-child(n+2) {
  margin-top: 20px;
  margin-left: 20px;
}
div#blue div.chance2 {
  width: 68px;
  position: absolute;
  right: 15px;
}
div#blue div.chance2 p {
  width: 68px;
  height: 68px;
  margin-top: 20px;
  line-height: 68px;
  text-align: center;
}
/* bot */
div#bot {
  width: 100%;
  height: 480px;
}
div#bot > div {
  width: 980px;
  padding: 0 15px;
  margin: 0 auto 10px;
}
/* //green */
div#green {
  background-color: #A9FFA4;
  border: 5px solid #09B200;
}
div#green div.score p:nth-child(n+2) {
  margin-left: 7px;
}
div#green p {
  display: inline-block;
  width: 68px;
  height: 34px;
  text-align: center;
  vertical-align: middle;
}
div#green div.check button:nth-child(n+2){
  margin-left: 7px;
}
div#green div.chance p:nth-child(n+2) {
  margin-left: 7px;
}
/* //orange */
div#orange {
  background-color: #FFC064;
  border: 5px solid #D88000;
}
div#orange div.score p:nth-child(n+2) {
  margin-left: 7px;
}
div#orange p {
  display: inline-block;
  width: 68px;
  height: 34px;
  text-align: center;
  vertical-align: middle;
}
div#orange div.check button {
  vertical-align: middle;
}
div#orange div.check button:nth-child(n+2){
  margin-left: 7px;
}
div#orange div.chance p:nth-child(n+2) {
  margin-left: 7px;
}
/* //purple */
div#purple {
  background-color: #C780FF;
  border: 5px solid #7100C9;
}
div#purple div.score p:nth-child(n+2) {
  margin-left: 7px;
}
div#purple p {
  display: inline-block;
  width: 68px;
  height: 34px;
  text-align: center;
  vertical-align: middle;
}
div#purple div.check button {
  vertical-align: middle;
}
div#purple div.check button:nth-child(n+2){
  margin-left: 7px;
}
div#purple div.chance p:nth-child(n+2) {
  margin-left: 7px;
}